doctype html
html(lang="en")
  head
    title EAT UX Challenge
    link(href='css/css.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='css/materialize.css', rel='stylesheet')
    script(src='js/jquery.min.js')
    script(src='js/materialize.min.js')
    script(src='js/jquery.validate.min.js')
    script(src='js/main.js')
  body
    header
        .navbar-fixed
            nav
                .nav-wrapper
                    a.brand-logo(href='#!', style='margin-left:10px;') Reduced School Lunch Application
                    ul.right.hide-on-med-and-down.max-height(style='margin-right:10px;')
                        li.valign-wrapper.max-height
                            .progress.valign(style='width:200px;')
                                #progressBar.determinate(style='width:0%;')
    main
        .panel#welcome
            h4.center Welcome!
            p The following application is for the National School Lunch Program. The process will take about 25 minutes. Once you leave this page, your information will not be saved so make sure you can complete it in one sitting.
            p Good news! You only need to fill out one application per household, even if your children attend more than one school. You'll need to fill out the following form completely and accurately to certify your children for free or reduced price school meals.
            .center-align
                a.waves-effect.btn#GetStartButton Got It!
        .panel#eligibility_info
            h4 Categorical Eligibility
            p Children are deemed eligible for free or reduced school lunches based on certain categories. Based on your household's categorical eligibility, we can streamline your application process. 
            p On what basis are you applying for the National School Lunch Program?
                form(action='#')
                    p
                        input#financial(name='eligibilityCategory', type='radio', value='financial', required)
                        label(for='financial') #[b Financial Need] - Based on demonstrated financial need.
                    p 
                        input#assistance(name='eligibilityCategory', type='radio', value='assistance', required)
                        label(for='assistance') #[b Assistance Program Participation] - Based on participation in SNAP/TANF/FDPIR.
                    p
                        input#childStatus(name='eligibilityCategory', type='radio', value='childStatus', required)
                        label(for='childStatus') #[b Children Status] - Based on children's status as foster/homeless/migrant/runaway/etc.
                    p
                        input#unknown(name='eligibilityCategory', type='radio', value='unknown', required)
                        label(for='unknown') #[b Unsure] - If you're not sure, don't worry! We'll find the category that best suits you.
            .center-align          
                a.waves-effect.btn.center#eligibilityInfoButton Get Started   
        .panel#parent_info
            h4 Parent Information
            p This information will help us reach you quickly if we need to contact you.
            .section
              form.col.s12
                .row
                  .input-field.col.s6
                    input#parentFirstName(type='text', name='parentFirstName')
                    label(for='parentFirstName') First Name
                  .input-field.col.s6
                    input#parentLastName(type='text', name='parentLastName')
                    label(for='parentLastName') Last Name
                .row
                  .input-field.col.s12
                    input#email(type='email', name='email')
                    label(for='email') Email
                .row
                  .input-field.col.s12
                    input#phone(type='text', name='phone')
                    label(for='phone') Phone Number
                .row
                  .input-field.col.s6.has-definition(data-definition="Don't worry. If you don't have a permanent address, this does not make your children ineligible for free or reduced school meals.")
                    input#address(type='text', name='address')
                    label(for='address') Street Address
                  .input-field.col.s6
                    input#city(type='text', name='city')
                    label(for='city') City
                .row
                  .input-field.col.s6
                    select#state(name='state')
                      option(value='', disabled='', selected='') Choose Your State
                      option(value='AL') Alabama
                      option(value='AK') Alaska
                      option(value='AZ') Arizona
                      option(value='AR') Arkansas
                      option(value='CA') California
                      option(value='CO') Colorado
                      option(value='CT') Connecticut
                      option(value='DE') Delaware
                      option(value='DC') District of Columbia
                      option(value='FL') Florida
                      option(value='GA') Georgia
                      option(value='HI') Hawaii
                      option(value='ID') Idaho
                      option(value='IL') Illinois
                      option(value='IN') Indiana
                      option(value='IA') Iowa
                      option(value='KS') Kansas
                      option(value='KY') Kentucky
                      option(value='LA') Louisiana
                      option(value='ME') Maine
                      option(value='MD') Maryland
                      option(value='MA') Massachusetts
                      option(value='MI') Michigan
                      option(value='MN') Minnesota
                      option(value='MS') Mississippi
                      option(value='MO') Missouri
                      option(value='MT') Montana
                      option(value='NE') Nebraska
                      option(value='NV') Nevada
                      option(value='NH') New Hampshire
                      option(value='NJ') New Jersey
                      option(value='NM') New Mexico
                      option(value='NY') New York
                      option(value='NC') North Carolina
                      option(value='ND') North Dakota
                      option(value='OH') Ohio
                      option(value='OK') Oklahoma
                      option(value='OR') Oregon
                      option(value='PA') Pennsylvania
                      option(value='RI') Rhode Island
                      option(value='SC') South Carolina
                      option(value='SD') South Dakota
                      option(value='TN') Tennessee
                      option(value='TX') Texas
                      option(value='UT') Utah
                      option(value='VT') Vermont
                      option(value='VA') Virginia
                      option(value='WA') Washington
                      option(value='WV') West Virginia
                      option(value='WI') Wisconsin
                      option(value='WY') Wyoming
                    label(for='state') State
                  .input-field.col.s6
                    input#zipCode(type='text', name='zipCode')
                    label(for='zipCode') Zip Code

            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right#parentInfoButton Next
        .panel#program_info
            h4 Assistance Program Information
            p Does any member of your household participate in any of the following programs? 
            ul.list(style='margin-left: 50px;')
                li Student Nutrition Assistance Program (SNAP) 
                li Temporary Assistance for Needy Families (TANF) 
                li Food Distribution Program on Indian Reservations (FDPIR)
            form
                p
                    input#programParticipant(name='programParticipation', type='radio', value='true')
                    label(for='programParticipant') Yes
                p
                    input#notProgramParticipant(name='programParticipation', type='radio', value='false')
                    label(for='notProgramParticipant') No
                .section#caseNumberSection
                    p Please provide a case number for one of these programs, even if you participate in multiple.
                    .input-field
                        input#caseNumber(type='text', name='caseNumber')
                        label(for='caseNumber') Case Number

            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right#programInfoButton Next          
        .panel#children_info
            h4 Children
            p.has-definition(data-definition="You should include all members in your household who are: <ul class='list'><li> Children who are 18 or under and are supported with the household's income.</li><li> In your care under a foster arrangement, or qualify as homeless, migrant, or runaway youth.</li><li> Students attending school (K-12), regardless of age.</li></ul>") Tell us how many infants, children, and school students live in your household. They do #[b not] have to be related to you. Children in foster care and children who meet the definition of homeless, migrant, or runaway are eligible for free meals.
            form.section#child-num-Form.childForm
                a.removeChild.right.btn-floating.btn-medium.waves-effect.waves-light.red.lighten-1
                    i.material-icons remove
                h5 New Child
                .row
                    .input-field.col.s5
                        input#child-num-FirstName(type='text', name="child-num-FirstName", required)
                        label(for='child-num-FirstName') First Name
                    .input-field.col.s1
                        input#child-num-MiddleName(type='text', name="child-num-MiddleName")
                        label(for='child-num-MiddleName') M. I.
                    .input-field.col.s6
                        input#child-num-LastName(type='text', name="child-num-LastName", required)
                        label(for='child-num-LastName') Last Name
                .row
                    .col.s10.offset-s1
                        .row
                            .col.s4.has-definition(data-definition="A student is anyone (of any age) attending grades K-12 at any school.")
                                input#child-num-student(type='checkbox', name='child-num-student')
                                label(for='child-num-student') Student
                            .col.s4.has-definition(data-definition="A foster child is someone who is formally placed by a court or a State child welfare agency. Foster children who live with you may count as members of your household and should be listed on your application.")
                                input#child-num-foster(type='checkbox', name='child-num-foster')
                                label(for='child-num-foster') Foster
                            .col.s4.has-definition(data-definition="A child identified by the Local Education Agency (LEA) homeless liaison or by an official of a homeless shelter as lacking a fixed, regular, and adequate nighttime residence.")
                                input#child-num-homeless(type='checkbox', name='child-num-homeless')
                                label(for='child-num-homeless') Homeless
                        .row
                            .col.s4.has-definition(data-definition="A child identified as a migrant by the State or local Migrant Education Program coordinator or the local educational liaison, or other individual identified by FNS.")
                                input#child-num-migrant(type='checkbox', name='child-num-migrant')
                                label(for='child-num-migrant') Migrant
                            .col.s4.has-definition(data-definition="A child identified as a runaway receiving assistance under a program under the Runaway and Homeless Youth Act, by the local educational liaison, or other individual in accordance with guidance issued by FNS.")
                                input#child-num-runaway(type='checkbox', name='child-num-runaway')
                                label(for='child-num-runaway') Runaway
                            .col.s4.has-definition(data-definition="A child that is enrolled in a Federal Head Start or State-funded pre-kindergarten program that uses eligibility criteria that is identical or more stringent than Federal Head Start.")
                                input#child-num-headStart(type='checkbox', name='child-num-headStart')
                                label(for='child-num-headStart') Head Start
            .section#addChildSection
                a#addChild.btn-floating.btn-medium.waves-effect.waves-light.teal.lighten-1.right
                    i.material-icons add
                h5 Add Another Child
            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right#childrenInfoButton Next
        .panel#household_info
            h4 Household Information
            p Please list all members of your household, not including yourself and the children listed in the previous section. This does not include those who live in your household but are not supported by or contribute to your household's income.
            form.row#adult-num-Form.adultForm
                    .input-field.col.s5
                        input#adult-num-FirstName(type='text', name="adult-num-FirstName", required)
                        label(for='adult-num-FirstName') First Name
                    .input-field.col.s6
                        input#adult-num-LastName(type='text', name="adult-num-LastName", required)
                        label(for='adult-num-LastName') Last Name
                    .input-field.col.s1
                        a.removeAdult.right.btn-floating.btn-medium.waves-effect.waves-light.red.lighten-1
                            i.material-icons remove
            .row#addAdultSection
                .input-field.col.s11
                    h5 Add an Adult
                .input-field.col.s1
                    a#addAdult.btn-floating.btn-medium.waves-effect.waves-light.teal.lighten-1.right
                        i.material-icons add
            
            p Just to confirm,  there are a total of #[b #[span#householdSize 2]] individuals (including you) currently living in your household.
            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right#adultInfoButton Next  
        .panel#income_info
            h4 Income Information
            p Specify the total income for each of the children in your household. If a child does not earn any income, simply enter 0 in the appropriate field.
            #childIncomeSection
                form#childIncomeTemplate
                    .row.has-definition(data-definition="Child income is money received from outside your household that is paid directly to your children. Many households do not have any child income. Sources of child income include: <ul class='list'><li>Paying Job</li><li>Social Security Disability Payments</li><li>Social Security Survivor's Benefits</li><li>Relative/Friend Outside Household</li><li>Private Pension Fund/Annuity/Trust</li>")
                        .col.s4.input-field
                            h5#childIncomeNameTemplate
                        .col.s4.input-field
                            i.mdi-editor-attach-money.prefix
                            input#childIncomeFieldTemplate(type='text', name='childIncome', placeholder='0', active='', required)
                            label(for='childIncome') Income  
                        .col.s4.input-field
                            select#childIncomeFrequencyTemplate(name='childIncomeFrequency', required)
                                option(value='weekly') Weekly
                                option(value='biweekly') Every Two Weeks
                                option(value='semimonthly') Twice a Month
                                option(value='monthly') Monthly
                                option(value='annually') Annually 
                            label Frequency
            p Specify the gross income (before taxes and deductions) of each adult household member. Note the income source, amount, and frequency. Choose multiple sources if a member earns income from different types of sources. Also specify if there are household members that do not earn any individual income.
            #adultIncomeSection
                form#adultIncomeTemplate
                    .row
                        .col.s4.input-field
                            h5#adultIncomeNameTemplate
                        .col.s8.input-field
                            select#adultIncomeTypeTemplate(multiple='', name='adultIncomeType')
                                option(value='', disabled='', selected='') No Income
                                option(value='job') Paying Job
                                option(value='external') Public Assistance/Child Support/Alimony
                                option(value='other') Pensions/Retirement/Other
                            label Income Source
                    .row#jobIncomeTemplate
                        .col.s5.input-field
                            h6 Salary/Wages
                        .col.s3.input-field
                            i.mdi-editor-attach-money.prefix
                            input#adult-num-income.validate(type='text', name='adultIncomeWage', active='', placeholder='0', required)
                            label(for='adultIncomeWage') Income
                        .col.s4.input-field
                            select#adultIncomeWageFrequencyTemplate(name='adultIncomeWageFrequency', required='')
                                option(value='weekly') Weekly
                                option(value='biweekly') Every Two Weeks
                                option(value='semimonthly') Twice a Month
                                option(value='monthly') Monthly
                                option(value='annually') Annually 
                            label Frequency
                    .row#externalIncomeTemplate
                        .col.s5.input-field
                            h6 Public Assistance/Child Support/Alimony
                        .col.s3.input-field
                            i.mdi-editor-attach-money.prefix
                            input#adult-num-income.validate(type='text', name='adultIncomeExternal', active='', placeholder='0', required)
                            label(for='adultIncomeExternal') Income
                        .col.s4.input-field
                            select#adultIncomeWageFrequencyTemplate(name='adultIncomeExternalFrequency', required='')
                                option(value='weekly') Weekly
                                option(value='biweekly') Every Two Weeks
                                option(value='semimonthly') Twice a Month
                                option(value='monthly') Monthly
                                option(value='annually') Annually 
                            label Frequency
                    .row#otherIncomeTemplate
                        .col.s5.input-field
                            h6 Pension/Retirement/Other
                        .col.s3.input-field
                            i.mdi-editor-attach-money.prefix
                            input#adult-num-income.validate(type='text', name='adultIncomeOther', active='', placeholder='0', required)
                            label(for='adultIncomeOther') Income
                        .col.s4.input-field
                            select#adultIncomeWageFrequencyTemplate(name='adultIncomeOtherFrequency', required='')
                                option(value='weekly') Weekly
                                option(value='biweekly') Every Two Weeks
                                option(value='semimonthly') Twice a Month
                                option(value='monthly') Monthly
                                option(value='annually') Annually 
                            label Frequency
            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right#incomeInfoButton Next
        .panel#ssn_info
            h4 Social Security Information
            form
                .row
                    p Does at least one adult member of your household possess a social security number (SSN)?
                    p
                        input#availableSSN(name='socialSecurity', type='radio', value='true', required)
                        label(for='availableSSN') Yes
                    p
                        input#unavailableSSN(name='socialSecurity', type='radio', value='false', required)
                        label(for='unavailableSSN') No
                #ssnDetails.row
                    p Choose the household's primary wage earner or another household member and list the last four digits of their SSN.
                    .input-field.col.s6
                        select(data-constrainwidth='false', name='wageEarner', required)
                        label Primary Wage Earner
                    .input-field.col.s6
                        input#SSN(type='text', placeholder='XXXX', name='SSN', required)
                        label(for='disabled') Last 4 Digits of SSN
                        
            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right#ssnInfoButton Next
        .panel#identity_info
            h4 Racial and Ethnic Identity
            form
                .row
                p We are required to ask for information about your children’s race and ethnicity. This information is important and helps to make sure we are fully serving our community. Responding to this section is optional and does not affect your children’s eligibility for free or reduced price meals.
                .row
                    .col.s6
                        p Which of the following races are your children? If your children are multiple races, check one or more.
                        p
                            input#raceAmericanNative(name='race', type='checkbox', value='American Indian or Alaskan Native')
                            label(for='raceAmericanNative') #[b American Indian or Alaskan Native]
                        p
                            input#raceAsian(name='race', type='checkbox', value='Asian')
                            label(for='raceAsian') #[b Asian]
                        p
                            input#raceBlack(name='race', type='checkbox', value='Black or African American')
                            label(for='raceBlack') #[b Black or African American]
                        p
                            input#racePacificIslander(name='race', type='checkbox', value='Native Hawaiian or Other Pacific Islander')
                            label(for='racePacificIslander') #[b Native Hawaiian or Other Pacific Islander]
                        p
                            input#raceWhite(name='race', type='checkbox', value='White')
                            label(for='raceWhite') #[b White]
                    .col.s6
                        p Are any of your children Hispanic or Latino?
                        p
                            input#isHispanic(name='hispanic', type='radio', value='true')
                            label(for='isHispanic') #[b Yes]
                        p 
                            input#isntHispanic(name='hispanic', type='radio', value='false')
                            label(for='isntHispanic') #[b No]
            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right#identityInfoButton Next
        .panel#submit
            .section#preSubmission
                h4 Submit
                p Thanks for filling out the form! If you'd like to review your application, make sure to do so now. If you're sure that you are ready to submit, please read the following statements.
                .row.center-align
                    a.waves-effect.waves-light.btn-flat.modal-trigger(href='#nonDiscrimination') USDA Non-Discrimination Statement
                .row.center-align
                    a.waves-effect.waves-light.btn-flat.modal-trigger(href='#useOfInformation') Use of Information Statement
                #nonDiscrimination.modal.modal-fixed-footer(style='z-index: 1003; display: none; opacity: 0; transform: scaleX(0.7); top: 493.377px;')
                    .modal-content
                        h5 USDA Non-Discrimination Statement
                        p In accordance with Federal civil rights law and U.S. Department of Agriculture (USDA) civil rights regulations and policies, the USDA, its Agencies, offices, and employees, and institutions participating in or administering USDA programs are prohibited from discriminating based on race, color, national origin, sex, disability, age, or reprisal or retaliation for prior civil rights activity in any program or activity conducted or funded by USDA.
                        p Persons with disabilities who require alternative means of communication for program information (e.g. Braille, large print, audiotape, American Sign Language, etc.), should contact the Agency (State or local) where they applied for benefits. Individuals who are deaf, hard of hearing or have speech disabilities may contact USDA through the Federal Relay Service at (800) 877-8339. Additionally, program information may be made available in languages other than English.
                        p To file a program complaint of discrimination, complete the USDA Program Discrimination Complaint Form, (AD-3027) found online at: http://www.ascr.usda.gov/complaint_filing_cust.html, and at any USDA office, or write a letter addressed to USDA and provide in the letter all of the information requested in the form. To request a copy of the complaint form, call (866) 632-9992. Submit your completed form or letter to USDA by:
                        ol
                            li Mail
                                p U.S. Department of Agriculture
                                p Office of the Assistant Secretary for Civil Rights
                                p 1400 Independence Avenue, SW
                                p Washington, D.C. 20250-941
                            li Fax
                                p (202) 690-7442
                            li Email
                                p program.intake@usda.gov
                        p This institution is an equal opportunity provider.
                    .modal-footer
                        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') I Acknowledge
                #useOfInformation.modal.modal-fixed-footer(style='z-index: 1003; display: none; opacity: 0; transform: scaleX(0.7); top: 493.377px;')
                    .modal-content
                        h5 Use of Information Statement
                        p The Richard B. Russell National School Lunch Act requires the information on this application. You do not have to give the information, but if you do not submit all needed information, we cannot approve your child for free or reduced price meals. You must include the last four digits of the social security number of the adult household member who signs the application. The social security number is not required when you apply on behalf of a foster child or you list a Supplemental Nutrition Assistance Program (SNAP), Temporary Assistance for Needy Families (TANF) Program or Food Distribution Program on Indian Reservations (FDPIR) case number or other FDPIR identifier for your child or when you indicate that the adult household member signing the application does not have a social security number. We will use your information to determine if your child is eligible for free or reduced price meals, and for administration and enforcement of the lunch and breakfast programs.
                        p We may share your eligibility information with education, health, and nutrition programs to help them evaluate, fund, or determine benefits for their programs, auditors for program reviews, and law enforcement officials to help them look into violations of program rules.
                    .modal-footer
                        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') I Acknowledge
                h5 Electronic Signature
                p By typing your name below, you attest to the following statements:
                ul.list(style='margin-left: 50px;')
                    li  The person signing is furnishing true information and to advise that person that the application is being made in connection with the receipt of Federal funds.
                    li  School officials may verify the information on the application.
                    li  Deliberate misrepresentation of the information may subject the applicant to prosecution under State and Federal statutes.
                    li  You have read the USDA Non-Discrimination Statement and Use of Information Statement.
                form.row.input-field
                    i.mdi-image-edit.prefix
                    input#signature(type='text', name='signature', required)
                a.waves-effect.btn.left.backButton Back
                a.waves-effect.btn.right#submitButton Submit
            .section#duringSubmission
                h4 Submitting Your Application
                p Hold tight! We are currently processing and submitting your application. Wait to see the confirmation page before exiting the form.
                .progress
                    .indeterminate
            .section#postSubmission
                h4 Thanks!
                p Your form has been submitted successfully. Your school district will notify you of your children's eligibility.
                p For more information about the National School Lunch Program and the USDA, visit the links at the bottom of the page.
        #status-card.card-panel.teal.lighten-1
          span.white-text
          
    footer.page-footer
      .container
        .row
          .col.l6.s12
            h5.white-text Footer Content
            p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
          .col.l4.offset-l2.s12
            h5.white-text Links
            ul
              li
