doctype html
html(lang="en")
  head
    title EAT UX Challenge
    link(href='css/css.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='css/materialize.css', rel='stylesheet')
    script(src='js/jquery.min.js')
    script(src='js/materialize.min.js')
    script(src='js/jquery.validate.min.js')
    script(src='js/main.js')
  body
    header
        .navbar-fixed
            nav
                .nav-wrapper
                    a.brand-logo(href='#!') Logo
                    ul.right.hide-on-med-and-down.max-height(style='margin-right:10px;')
                        li.valign-wrapper.max-height
                            .progress.valign(style='width:200px;')
                                #progressBar.determinate(style='width:0%;')
    main
        .panel#welcome
            h4 Welcome!
            .center-align
                p The following application is for the National School Lunch Program. The process will take about 25 minutes. Once you leave this page, your information will not be saved so make sure you can complete it in one sitting.
                a.waves-effect.btn#GetStartButton Get Started
        .panel#general_info
            h4 General Information
            .center-align
                p Good news! You only need to fill out one application per household, even if your children attend more than one school. You'll need to fill out the following completely and accurately to certify your children for free or reduced price school meals.
                a.waves-effect.btn.center.nextButton Got It!    
        .panel#parent_info
            h4 Parent Information
            p This information will help us reach you quickly if we need to contact you.
            .section
              form.col.s12
                .row
                  .input-field.col.s6
                    input#parentFirstName(type='text', name='parentFirstName')
                    label(for='parentFirstName') First Name
                  .input-field.col.s6
                    input#parentLastName(type='text', name='parentLastName')
                    label(for='parentLastName') Last Name
                .row
                  .input-field.col.s12
                    input#email(type='email', name='email')
                    label(for='email') Email
                .row
                  .input-field.col.s12
                    input#phone(type='text', name='phone')
                    label(for='phone') Phone Number
                .row
                  .input-field.col.s6.has-definition(data-definition="Don't worry. If you don't have a permanent address, this does not make your children ineligible for free or reduced school meals.")
                    input#address(type='text', name='address')
                    label(for='address') Street Address
                  .input-field.col.s6
                    input#city(type='text', name='city')
                    label(for='city') City
                .row
                  .input-field.col.s6
                    select#state(name='state')
                      option(value='', disabled='', selected='') Choose Your State
                      option(value='AL') Alabama
                      option(value='AK') Alaska
                      option(value='AZ') Arizona
                      option(value='AR') Arkansas
                      option(value='CA') California
                      option(value='CO') Colorado
                      option(value='CT') Connecticut
                      option(value='DE') Delaware
                      option(value='DC') District of Columbia
                      option(value='FL') Florida
                      option(value='GA') Georgia
                      option(value='HI') Hawaii
                      option(value='ID') Idaho
                      option(value='IL') Illinois
                      option(value='IN') Indiana
                      option(value='IA') Iowa
                      option(value='KS') Kansas
                      option(value='KY') Kentucky
                      option(value='LA') Louisiana
                      option(value='ME') Maine
                      option(value='MD') Maryland
                      option(value='MA') Massachusetts
                      option(value='MI') Michigan
                      option(value='MN') Minnesota
                      option(value='MS') Mississippi
                      option(value='MO') Missouri
                      option(value='MT') Montana
                      option(value='NE') Nebraska
                      option(value='NV') Nevada
                      option(value='NH') New Hampshire
                      option(value='NJ') New Jersey
                      option(value='NM') New Mexico
                      option(value='NY') New York
                      option(value='NC') North Carolina
                      option(value='ND') North Dakota
                      option(value='OH') Ohio
                      option(value='OK') Oklahoma
                      option(value='OR') Oregon
                      option(value='PA') Pennsylvania
                      option(value='RI') Rhode Island
                      option(value='SC') South Carolina
                      option(value='SD') South Dakota
                      option(value='TN') Tennessee
                      option(value='TX') Texas
                      option(value='UT') Utah
                      option(value='VT') Vermont
                      option(value='VA') Virginia
                      option(value='WA') Washington
                      option(value='WV') West Virginia
                      option(value='WI') Wisconsin
                      option(value='WY') Wyoming
                    label(for='state') State
                  .input-field.col.s6
                    input#zipCode(type='text', name='zipCode')
                    label(for='zipCode') Zip Code

            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right#parentInfoButton Next
        .panel#children_info
            h4 Children
            p.has-definition(data-definition="You should include all members in your household who are: <ul class='list'><li> Children who are 18 or under and are supported with the household's income.</li><li> In your care under a foster arrangement, or qualify as homeless, migrant, or runaway youth.</li><li> Students attending school (K-12), regardless of age.</li></ul>") Tell us how many infants, children, and school students live in your household. They do #[b not] have to be related to you. Children in foster care and children who meet the definition of homeless, migrant, or runaway are eligible for free meals.
            form.section#child-num-Form.childForm
                a.removeChild.right.btn-floating.btn-medium.waves-effect.waves-light.red.lighten-1
                    i.material-icons remove
                h5 New Child
                .row
                  .input-field.col.s5
                    input#child-num-FirstName(type='text', name="child-num-FirstName", required)
                    label(for='child-num-FirstName') First Name
                  .input-field.col.s1
                    input#child-num-MiddleName(type='text', name="child-num-MiddleName")
                    label(for='child-num-MiddleName') M. I.
                  .input-field.col.s6
                    input#child-num-LastName(type='text', name="child-num-LastName", required)
                    label(for='child-num-LastName') Last Name
                .row
                    .col.s1 &nbsp;
                    .col.s2.has-definition(data-definition="A student is anyone (of any age) attending grades K-12 at any school.")
                      input#child-num-student(type='checkbox', name='child-num-student')
                      label(for='child-num-student') Student
                    .col.s2.has-definition(data-definition="A foster child is someone who is formally placed by a court or a State child welfare agency. Foster children who live with you may count as members of your household and should be listed on your application.")
                      input#child-num-foster(type='checkbox', name='child-num-foster')
                      label(for='child-num-foster') Foster
                    .col.s2.has-definition(data-definition="A child identified by the Local Education Agency (LEA) homeless liaison or by an official of a homeless shelter as lacking a fixed, regular, and adequate nighttime residence.")
                      input#child-num-homeless(type='checkbox', name='child-num-homeless')
                      label(for='child-num-homeless') Homeless
                    .col.s2.has-definition(data-definition="A child identified as a migrant by the State or local Migrant Education Program coordinator or the local educational liaison, or other individual identified by FNS.")
                      input#child-num-migrant(type='checkbox', name='child-num-migrant')
                      label(for='child-num-migrant') Migrant
                    .col.s2.has-definition(data-definition="A child identified as a runaway receiving assistance under a program under the Runaway and Homeless Youth Act, by the local educational liaison, or other individual in accordance with guidance issued by FNS.")
                      input#child-num-runaway(type='checkbox', name='child-num-runaway')
                      label(for='child-num-runaway') Runaway
                    .col.s1 &nbsp;
            .section#addChildSection
                a#addChild.btn-floating.btn-medium.waves-effect.waves-light.teal.lighten-1.right
                    i.material-icons add
                h5 Add Another Child
            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right#childrenInfoButton Next
        .panel#program_info
            h4 Assistance Program Information
            p Does any member of your household participate in any of the following programs? 
            ul.list(style='margin-left: 50px;')
                li Student Nutrition Assistance Program (SNAP) 
                li Temporary Assistance for Needy Families (TANF) 
                li Food Distribution Program on Indian Reservations (FDPIR)
            form
                p
                    input#programParticipant(name='programParticipation', type='radio', value='true')
                    label(for='programParticipant') Yes
                p
                    input#notProgramParticipant(name='programParticipation', type='radio', value='false')
                    label(for='notProgramParticipant') No
                .section#caseNumberSection
                    p Please provide a case number for one of these programs, even if you participate in multiple.
                    form.input-field
                        input#caseNumber(type='text', name='caseNumber')
                        label(for='caseNumber') Case Number

            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right#programInfoButton Next
        .panel#household_info
            h4 Household Information
            .section#incomeInfoSection
                h4 Your Income Information
                p Please provide your income information.
                #parentIncomeSection
                    form#parentIncomeTemplate
                        .row
                            .col.s4.input-field
                                select(multiple='')
                                    option(value='', disabled='', selected='') No Income
                                    option(value='1') Paying Job
                                    option(value='2') Public Assitance/Child Support/Alimony
                                    option(value='3') Pensions/Retirement/Other
                                label Income Source
                        .row#jobIncome
                            .col.s5
                                h6 Salary and Wages
                            .col.s3.input-field
                                i.mdi-editor-attach-money.prefix
                                input#adult-num-income.validate(type='text', name='adult-num-income', active=)
                                label(for='adult-num-income') Income
                            .col.s4.input-field
                                select
                                    option(value='', disabled='', selected='') How often?
                                    option(value='weekly') Weekly`
                                    option(value='biweekly') Every Two Weeks
                                    option(value='semimonthly') Twice a Month
                                    option(value='monthly') Monthly
                                    option(value='annually') Annually 
                                label Frequency
                        .row#externalIncome
                            .col.s5
                                h6 Salary and Wages
                            .col.s3.input-field
                                i.mdi-editor-attach-money.prefix
                                input#adult-num-income.validate(type='text', name='adult-num-income', active=)
                                label(for='adult-num-income') Income
                            .col.s4.input-field
                                select
                                    option(value='', disabled='', selected='') How often?
                                    option(value='weekly') Weekly`
                                    option(value='biweekly') Every Two Weeks
                                    option(value='semimonthly') Twice a Month
                                    option(value='monthly') Monthly
                                    option(value='annually') Annually 
                                label Frequency
                        .row#otherIncome
                            .col.s5
                                h6 Pension/Retirement/Other
                            .col.s3.input-field
                                i.mdi-editor-attach-money.prefix
                                input#adult-num-income.validate(type='text', name='adult-num-income', active=)
                                label(for='adult-num-income') Income
                            .col.s4.input-field
                                select
                                    option(value='', disabled='', selected='') How often?
                                    option(value='weekly') Weekly`
                                    option(value='biweekly') Every Two Weeks
                                    option(value='semimonthly') Twice a Month
                                    option(value='monthly') Monthly
                                    option(value='annually') Annually 
                                label Frequency
                h4 Children Income Information
                p Please provide information about your children's income. 
                #childIncomeSection
                    form#childIncomeTemplate.row.has-definition(data-definition="Child income is money received from outside your household that is paid directly to your children. Many households do not have any child income. Sources of child income include: <ul class='list'><li>Paying Job</li><li>Social Security Disability Payments</li><li>Social Security Survivor's Benefits</li><li>Relative/Friend Outside Household</li><li>Private Pension Fund/Annuity/Trust</li>")
                            .col.s4.input-field
                                h5#childIncomeNameTemplate
                            .col.s4.input-field
                                i.mdi-editor-attach-money.prefix
                                input#childIncomeFieldTemplate(type='text', name='childIncome', placeholder='0')
                                label(for='childIncome') Income  
                            .col.s4.input-field
                                select#childIncomeFrequencyTemplate(name='childIncomeFrequency')
                                    option(value='', disabled='', selected='') How often?
                                    option(value='weekly') Weekly
                                    option(value='biweekly') Every Two Weeks
                                    option(value='semimonthly') Twice a Month
                                    option(value='monthly') Monthly
                                    option(value='annually') Annually 
                                label Frequency
                h4 Household Members
                p Please provide information about the rest of the people living in your household. This does not include the children you listed before or those who live in your household but are not supported by or contribute to your household's income.
                form
                    .section#adult-num-Form.adultForm
                        a.removeAdult.right.btn-floating.btn-medium.waves-effect.waves-light.red.lighten-1
                            i.material-icons remove
                        h5 New Adult
                        .row
                          .input-field.col.s6
                            input#adult-num-FirstName(type='text', name="adult-num-FirstName", required)
                            label(for='adult-num-FirstName') First Name
                          .input-field.col.s6
                            input#adult-num-LastName(type='text', name="adult-num-LastName", required)
                            label(for='adult-num-LastName') Last Name
                        .row
                            .col.s4.input-field
                                select(multiple='', style='width:500px;')
                                    option(value='', disabled='', selected='') No Income
                                    option(value='1') Paying Job
                                    option(value='2') Public Assitance
                                    option(value='3') Child Support/Alimony
                                    option(value='4') Pensions/Retirement
                                    option(value='5') Other
                                label Income Source
                            .col.s4.input-field
                                i.mdi-editor-attach-money.prefix
                                input#adult-num-income.validate(type='text', name='adult-num-income', active=)
                                label(for='adult-num-income') Adult Income  
                            .col.s4.input-field
                                select
                                    option(value='', disabled='', selected='') How often?
                                    option(value='weekly') Weekly`
                                    option(value='biweekly') Every Two Weeks
                                    option(value='semimonthly') Twice a Month
                                    option(value='monthly') Monthly
                                    option(value='annually') Annually 
                                label Frequency
                    .section#addAdultSection
                        a#addAdult.btn-floating.btn-medium.waves-effect.waves-light.teal.lighten-1.right
                            i.material-icons add
                        h5 Add Another Adult
                .section#primaryEarner
                    h4 Primary Wage Earner
                    p Does at least one adult member of your household possess a social security number (SSN)?
                    form(action='#')
                        p
                            input#availableSSN(name='socialSecurity', type='radio')
                            label(for='availableSSN') Yes
                        p
                            input#unavailableSSN(name='socialSecurity', type='radio')
                            label(for='unavailableSSN') No.
                    p Choose the household's primary wage earner or another household member and list the last four digits of their SSN.
                    form
                        .input-field.col.s6
                            select(data-constrainwidth='false')
                                option(value='weekly') Weekly`
                                option(value='biweekly') Every Two Weeks
                                option(value='semimonthly') Twice a Month
                                option(value='monthly') Monthly
                                option(value='annually') Annually 
                            label Primary Wage Earner
                        .input-field.col.s6
                            input#disabled.validate(disabled='', value='XXX - XX', type='text')
                            label(for='disabled') SSN
            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right.nextButton Next
        .panel#submitPanel
            h4 Submit
            p Thanks for filling out the form. Click here to submit.
            a.waves-effect.btn.left.backButton Back
            a.waves-effect.btn.right Submit
            
        #status-card.card-panel.teal.lighten-1
          span.white-text
    footer.page-footer
      .container
        .row
          .col.l6.s12
            h5.white-text Footer Content
            p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
          .col.l4.offset-l2.s12
            h5.white-text Links
            ul
              li
