doctype html
html(lang='en', style='display:table;margin:auto;height:100%;')
    head
        title School District Login - USDA Reduced School Lunch Program
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='css/materialize.css', rel='stylesheet')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js')
    body(style='height:100%;display:table-cell;vertical-align:middle;background:rgb(38,166,154);')
        form.z-depth-4.card-panel(method='get', action='schools/')
            h5.row School District Login
            .row.margin.input-field
                i.mdi-social-person-outline.prefix
                input(type='text', name='user')
                label(for='username') Username
            .row.margin.input-field
                i.mdi-action-lock-outline.prefix
                input(type='password', name='pass')
                label(for='password') Password
            .row.input-field
                input(type='submit', style='display:none;')
                a.btn.waves-effect.waves-light.col.s12(href='javascript:$("form").submit();') Login
